* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #1f1f1f;
  background-image: url("../public/david-clode-Sa8gzIBaKrw-unsplash.jpg");
  background-size: cover;
}

body {
  margin: 0;
}
